<h1>Edit a Video Game:</h1>

<%= form_tag "/videogames/#{@videogame["id"]}", method: :post do %>

  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @videogame["name"] %>
  </div>
  <div>
    <%= label_tag :release_date %>
    <%= text_field_tag :release_date, @videogame["release_date"] %>
  </div>
  <div>
    <%= label_tag :genre %>
    <%= text_field_tag :genre, @videogame["genre"] %>
  </div>
  <div>
    <%= label_tag :gameplay %>
    <%= text_field_tag :gameplay, @videogame["gameplay"] %>
  </div>
  <div>
    <%= label_tag :steen_rating %>
    <%= text_field_tag :steen_rating, @videogame["steen_rating"] %>
  </div>
  <%= submit_tag "Edit Game" %>

<% end %>

<%= form_tag "/videogames/#{@videogame["id"]}", method: :delete do %>
  <%= submit_tag "Delete Game" %>
<% end %>