<table>
  <tr>
    <th>Game Title</th>
    <th>Release Date</th>
    <th>Genre</th>
    <th>Gameplay</th>
    <th>Steen Rating</th>
  </tr>
<% @videogames.each do |videogame| %>
  <tr>
    <td><a href ="/videogames/<%= videogame['id'] %>">Game Title: <%= videogame["name"] %></a></td>
    <td>Release Date: <%= videogame["release_date"] %></td>
    <td>Genre: <%= videogame["genre"] %></td>
    <td>Gameplay: <%= videogame["gameplay"] %></td>
    <td>Steen Rating: <%= videogame["steen_rating"] %>/10 </td>
  </tr>
<% end %>
</table>