<ul>
  <li>Game Title: <%= @videogame["name"] %></li>
  <li>Release Date: <%= @videogame["release_date"] %></li>
  <li>Genre: <%= @videogame["genre"] %></li>
  <li>Gameplay: <%= @videogame["gameplay"] %></li>
  <li>Steen Rating: <%= @videogame["steen_rating"] %>/10 </li>
</ul>
<a href="/videogames/<%= @videogame['id'] %>/edit">Edit Videogame</a>
<a href="/videogames">Back to Index</a>
